@model BookNest.Data.Book

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/bookDetails.css" />
<div class="page-container">
    <a asp-action="Index" class="back-link">
        <i class="bi bi-arrow-left"></i> ← Върни се към другите книги
    </a>
    <div class="container">

        <div>
            <img class="book-img" src="@Model.CoverImage" alt="@Model.Title" />
        </div>
        <div class="content">
            <h1>@Model.Title</h1>

            <div class="order">
                <span class="price">Наличност: @Model.Quantity</span>
                <span class="price">@Model.Price €</span>

            </div>
            <button asp-controller="Carts" asp-action="Create" id="order">Добави в количка</button>
            <p>
                @Model.BookSummary
            </p>
            <table class="specs-table">
                <tr>
                    <th class="spec-label">Година на издаване</th>
                    <td class="spec-value">@Model.YearOfPublication</td>
                </tr>
                <tr>
                    <th class="spec-label">Каталожен номер</th>
                    <td class="spec-value">@(Model.CatalogNumber ?? "---")</td>
                </tr>
                <tr>
                    <th class="spec-label">Автор</th>
                    <td class="spec-value">@Model.Author?.Name</td>
                </tr>
                <tr>
                    <th class="spec-label">Издателство</th>
                    <td class="spec-value">@Model.Publisher?.Name</td>
                </tr>
                <tr>
                    <th class="spec-label">Категория</td>
                    <td class="spec-value">@Model.Category?.Name</td>
                </tr>
            </table>
        </div>
      
    </div>
</div>

