@model IEnumerable<BookNest.Data.Category>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/categoriesIndex.css" />
<h1 class="page-title">Категории</h1>

<p>
    <a asp-action="Create" class="btn-create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="action-link edit" asp-action="Edit" asp-route-id="@item.Id">Промени</a> |
@*                     <a class="action-link details" asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                    <a class="action-link delete" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>
