@model IEnumerable<BookNest.Data.Cart>

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script src="~/js/cart.js"></script>
}

<link rel="stylesheet" href="~/css/cart.css" />

<div class="cart-box">
    <h1>Количка</h1>

    <table>
        <thead>
            <tr>
                <th>Артикул</th>
                <th>Име</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Сума</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="cart-item">
                    <td><img src="@item.Book.CoverImage" alt="@item.Book.Title"></td>
                    <td>@item.Book.Title</td>
                    <td class="book-price" data-price="@item.Book.Price.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)">@item.Book.Price</td>
                    <td><input type="number" class="quantity-input" value="@item.Quantity" min="1" style="width:50px"></td>
                    <td class="item-total">@(item.Quantity * item.Book.Price) лв.</td>
                    <td class="actions">
                        <button class="edit-btn" asp-action="Edit" >Редактирай</button>
                        <button class="remove-btn" data-bs-toggle="modal" data-bs-target="#deleteModal-@item.Id">Премахни</button>

                        <partial name="_DeleteModalPartial" model="item" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="summary">
        <h2>Обобщение</h2>
        <p><span>Сума:</span><span id="grand-total">@Model.Sum(i => i.Book.Price)</span></p>
        <button>Поръчай</button>
    </div>

    <div style="clear: both; margin-top: 30px;">
        <button class="btn-continue" style="padding:10px 20px;">Продължи с пазаруването</button>
    </div>
</div>